/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    background-image: linear-gradient(to top, #00153c, #001844, #001b4d, #001f55, #00225e, #012a69, #013275, #003b81, #004b92, #005ba3, #006cb4,#007dc4);
}
}

:root {
    /*Color Pallete*/
    --color-dark-blue-gray: #2E4053;
    --color-light-gray: #F4F6F7;
    --color-bright-blue: #3498DB;
    --color-black: #000000;
    --color-white: #fff;

    /*HSL (Hue, Saturation, Lightness)*/
    --first-color: hsl(82, 60%, 28%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --body-color: hsl(0, 0%, 95%);
    --container-color: hsl(0, 0%, 100%);

    /* 5 rem = 8px, 1rem = 16px */
    --h2-font-size: 1.25rem;
    --small-font-size: .813rem;
}

.content-wrapper {
    flex-grow: 1;
}

.container {
    padding-bottom: 1rem;
}

/* Sidebar */
aside {
    position: fixed;
    left: 0;
    z-index: 9999;
    width: 15%;
    height: 90vh;
    margin-top: 2rem;
    border-radius: 16px;
    background-color: var(--color-dark-blue-gray);
    box-shadow: 0 0.5rem 2rem var(--color-dark-blue-gray);
    transition: all 0.25s;
}

aside .toggle {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

aside .toggle .logo {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 900;
    padding: 1.5rem 0;
    color: var(--color-white);
    transition: all 0.5s;
    cursor: pointer;
}

aside .toggle .logo h2 {
    color: var(--color-black);
}

aside .toggle .logo:hover {
    transform: scale(1.1);
}

aside .feature-list {
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 100%;
    gap: 2rem;
    align-items: start;
    justify-content: start;
    padding: 2rem;
    cursor: pointer;
    transition: all 0.25s;
}

aside .feature-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    opacity: 1;
    transition: opacity 0.05s;
    transition: color 0.3s, margin-left 0.3s;
    color: var(--color-light-gray);
}

aside .feature-list a h3 {
    transition: all 0.3s;
}

aside .feature-list a.active {
    color: var(--color-bright-blue);
    font-weight: 900;
    margin-left: 0.5rem;
}

aside .feature-list a:last-child {
    position: absolute;
    bottom: 2rem;
}

aside .feature-list:hover {
    box-shadow: none;
}

aside .feature-list a:hover h3 {
    color: var(--color-bright-blue);
}

aside .feature-list a:hover {
    margin-left: 0.5rem;
    color: var(--color-bright-blue);
}

aside .feature-list #hamburger {
    align-self: end;
    color: var(--color-white);
}

/* Main Content Area */
main {
    flex-grow: 1;
    padding: 40px;
    max-width: 800px;
    margin: auto;
}

span {
    color: var(--color-bright-blue);
}

h1 {
    font-family: 'Poppins';
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-top: 3rem;
}

h2 {
    font-family: 'Poppins';
    color: white;
    font-size: 1.7rem;
}

h3 {
    font-size: 0.9rem;
    /* font-weight: 500; */
}

.container {
    position: relative;
    width: 100%;
}

/* Search Bar */
#searchInput {
    position: relative;
    display: block;
    margin: 20px auto;
    width: 50%;
    padding: 15px;
    font-size: 18px;
    border: 2px solid #F4F6F7;
    border-radius: 50px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#searchInput:focus {
    border-color: #2980b9;
    box-shadow: 0 4px 15px rgba(0, 123, 255, 0.4);
}

#searchInput:hover {
    border-color: skyblue;
    box-shadow: 0 4px 15px rgba(135, 206, 250, 0.8);
}

/* Responsive Typography */
@media screen and (min-width: 1120px) {
    :root {
        --h2-font-size: 1.5rem;
        --small-font-size: .875rem;
    }
}
    
/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ===== CARD ===== */
.container{
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 3rem;
}

.card__container{
    display: grid;
    row-gap: 3.5rem;
}

.card__article{
    position: relative;
    overflow: hidden;
}

.card__img{
    width: 328px;
    border-radius: 1.5rem;
}

.card__data{
    width: 280px;
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, 15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.card__description{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
    color: #000000;
}

.card__title{
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: .75rem;
}

.card__button{
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: 500;
    color: var(--first-color);
}

.card__button:hover{
    text-decoration: underline;
}

/* Animasi pas di hover */
.card__article:hover .card__data{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article:hover{
    animation: remove-overflow 2s forwards;
}

.card__article:not(:hover){
    animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data{
    animation: remove-data 1s forwards;
}

/* Animasi Kartu */
@keyframes show-data{
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow{
    to{
        overflow: initial;
    }
}

@keyframes remove-data{
    0%{
        transform: translateY(-7rem);
    }
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow{
    0%{
        overflow: initial;
        pointer-events: none;
    }
    50%{
        overflow: hidden;
    }
}

/* ====== MEDIA QUERY ====== */
/* Small */
@media screen and (max-width: 340px){
    .container{
        margin-inline: 1rem;
    }

    .card__data{
        width: 250px;
        padding: 1rem;
    }
}

/* Medium */
@media screen and (min-width: 768px){
    .card__container{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
    }
}

/* Large */
@media screen and (min-width: 1120px){
    /* .container{
        height: 100vh;
    } */

    .card__container{
        grid-template-columns: repeat(3, 1fr);
    }
    .card__img{
        width: 348px;
    }
    .card__data{
        width: 316px;
        padding-inline: 2.5rem;
    }
    .content-wrapper{
        position: relative;
    }
}
    
/* Footer */
footer {
    flex-shrink: 0;
    background-color: #1C2833;
    text-align: center;
    padding: 10px 0;
    color: #F4F6F7;
    position: relative; 
    bottom: 0;  
    width: 100%;
}

footer p {
    color: white;
    margin: 5px 0;
}

footer p:first-of-type {
    font-size: 1rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons a {
    color: white;
    font-size: 30px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: skyblue;
}

/* Hidden */
aside.hidden {
    transform: translateX(-50%);
}

aside.hidden .toggle .hamburger {
    position: absolute;
    top: 1.5rem;
    right: 1.25rem;
}

aside .feature-list a.hidden h3 {
    display: none;
}

aside.hidden {
    width: 7.5%;
}

aside.hidden h2,
aside.hidden a i {
    display: none;
}