body {
  background-color: #000;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#container {
  display: flex; 
  justify-content: space-between;
  align-items: flex-start;
  border: none;
  border-radius: 10px;
  color: #EFEFEF;
  background-color: #2E4053;
  opacity: .95;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.2);
  width: 1000px; 
  padding: 60px;
  margin: 80px auto;
  text-align: center;
  gap: 10px; 
}

#calendar-container {
  flex: 1; 
}

#eventslink {
  font-size: 16px;
  color: #1E90FF;
  cursor: pointer;
  width: 410px;
}

#eventslink:hover {
  text-decoration: underline;
}

#addmonth {
  padding: 5px;
  width: 10px;
  float: left;
  cursor: pointer;
}

#month {
  padding: 10px;
  width: 340px;
  float: left;
}

#month-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px; 
}

#submonth {
  padding: 10px;
  width: 15px;
  float: left;
  cursor: pointer;
}

.days div {
  float: left;
  width: 25px;
  height: 25px;
  padding: 5px;
}

.highlightday {
  color: #CC5500;
  font-weight: bold;
}

.weeks {
  clear: both;
}

.weeks div {
  float: left;
  width: 25px;
  height: 25px;
  padding: 2px 5px 2px 5px;
  cursor: pointer;
}

.days div, .weeks div {
  width: 50px; 
  height: 50px; 
  font-size: 18px;
}

.clear {
  clear: both;
}

.form {
  padding: 5px;
  text-align: left;
}

.formtitle {
  font-size: 14px;
}

#today {
  padding: 0 5px 0 5px;
  text-align: left;
}

.todaytitle {
  font-size: 14px;
}

input[type=text] {
  width: 202px;
}

#addevent {
  background-color: #4CAF50; 
  color: white; 
  border: none; 
  padding: 4px 8px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 14px; 
  margin: 3px 8px; 
  cursor: pointer; 
  border-radius: 2px; 
  transition: background-color 0.3s; 
}

#addevent:hover {
  background-color: #45a049; 
}

.eventday {
  width: 100%;
  padding-top: 7px;
  border-bottom: 1px solid #666666;
}

.textleft {
  text-align: left;
}

.event-item {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.delete-event {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
}

.delete-event:hover {
  background-color: darkred;
}

#todolist-container {
  flex: 1; 
  text-align: center;
  background-color: #0968a7; 
  border-radius: 10px;
  padding: 20px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.2);
}

#todo-input, #add-todo {
  margin-top: 10px;
}

#todo-list li {
  background-color:  #2E4053;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#todo-list li input[type="checkbox"] {
  margin-right: 10px;
}

#todo-list li.checked {
  text-decoration: line-through;
  color: #888;
}

#todo-list li button {
  background-color: #ff6347; 
  border: none; 
  color: #fff; 
  padding: 10px 15px; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.2s; 
  font-weight: bold; 
  font-size: 14px; 
}

#todo-list li button:hover {
  background-color: #ff4500; 
  transform: translateY(-2px); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}

#todo-list li button:active {
  transform: translateY(0); 
  box-shadow: none; 
}

#add-todo {
  background-color: #28a745; 
  border: none; 
  color: #fff; 
  padding: 4px 6px; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.2s; 
  font-weight: bold; 
  font-size: 15px; 
  margin: 5px; 
}

#add-todo:hover, #go-button:hover {
  background-color: #218838; 
  transform: translateY(-2px); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}

#add-todo:active, #go-button:active {
  transform: translateY(0); 
  box-shadow: none; 
}
