* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Georgia, sans-serif;
}

:root {
    --color-dark-blue-gray: #2E4053;
    --color-light-gray: #F4F6F7;
    --color-bright-blue: #3498DB;
    --color-black: #000000;
    --color-white: #fff;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* main {
    width: 96%;
    margin: 0 auto; 
} */

h1 {
    font-size: 3.6rem;
    font-weight: 900;
    font-family: Georgia, sans-serif;
    text-shadow: 0 0 10px var(--color-white), 0 0 20px var(--color-white), 0 0 30px var(--color-white), 0 0 40px var(--color-white);
    position: relative;
    top: -30px;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 0.9rem;
    font-weight: 500;
}

span {
    color: var(--color-bright-blue);
}

aside {
    position: relative;
    width: 15%;
    height: 90vh;
    margin-top: 2rem;
    border-radius: 16px;
    background-color: var(--color-dark-blue-gray);
    box-shadow: 0 0.5rem 2rem var(--color-dark-blue-gray);
    transition: all 0.25s;
}

aside .toggle {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

aside .toggle .logo {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 900;
    padding: 1.5rem 0;
    color: var(--color-white);
    transition: all 0.5s;
    cursor: pointer;
}

aside .toggle .logo h2 {
    color: var(--color-black);
}

aside .toggle .logo:hover {
    transform: scale(1.1);
}

aside .feature-list {
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 100%;
    gap: 2rem;
    align-items: start;
    justify-content: start;
    padding: 2rem;
    cursor: pointer;
    transition: all 0.25s;
}

aside .feature-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    opacity: 1;
    transition: opacity 0.05s;
    transition: color 0.3s, margin-left 0.3s;
    color: var(--color-light-gray);
}

aside .feature-list a h3 {
    transition: all 0.3s;
}

aside .feature-list a.active {
    color: var(--color-bright-blue);
    font-weight: 900;
    margin-left: 0.5rem;
}

aside .feature-list a:last-child {
    position: absolute;
    bottom: 2rem;
}

aside .feature-list:hover {
    box-shadow: none;
}

aside .feature-list a:hover h3 {
    color: var(--color-bright-blue);
}

aside .feature-list a:hover {
    margin-left: 0.5rem;
    color: var(--color-bright-blue);
}

aside .feature-list #hamburger {
    align-self: end;
    color: var(--color-white);
}

/* Toggle button */

aside.hidden .toggle .hamburger {
    position: absolute;
    top: 1.5rem;
}

aside .feature-list a.hidden h3 {
    display: none;
}

aside.hidden {
    width: 7.5%;
}

aside.hidden h2 {
    display: none;
}

